In [ ]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
evreg2023_data_to_load = Path("Resources/2023_EV_Registration_Data.xlsx")
evreg2022_data_to_load = Path("Resources/2022_EV_Registration_Data.xlsx")
evreg2021_data_to_load = Path("Resources/2021_EV_Registration_Data.xlsx")

# Read files and store into Pandas DataFrames
evreg2023_data = pd.read_excel(evreg2023_data_to_load)
evreg2022_data = pd.read_excel(evreg2022_data_to_load)
evreg2021_data = pd.read_excel(evreg2021_data_to_load)

# zipcode_data.dtypes
# Combine the data into a single dataset.
#evreg_data_complete = pd.merge(evreg_data, zipcode_data, how="left", on="ZIP Code", sort=True)
#evreg_data_complete.head()
evreg2021_data.info()
evreg2022_data.info()
evreg2023_data.info()

PermissionError: [Errno 13] Permission denied: 'Resources\\2021_EV_Registration_Data.xlsx'

In [53]:
# Calculate the
evreg2021_data['County_FIPS'] = evreg2021_data['County_FIPS'].astype(str).str.replace('.0', '', regex=False)         
evreg2021_data_df = evreg2021_data.dropna()
evreg2021_data_df.head()

,VIN,Make,Model,Model Year,Vehicle Type,City/Township,City/Township Type,City GNIS,Zip Code,State,County,County_FIPS,County GNIS,Utility,MN Utility ID,EIA Utility ID,Utility Type,Data Snapshot Year,DMV Snapshot Date
0,5ASAG27455F036660,GEM,NEV,2005,BEV,Adrian,CITY,2393884.0,56110.0,MN,Nobles,27105,659498.0,Adrian Public Utilities,140.0,150.0,Muni,2021,2021-12-01
1,JA4J24A52LZ041868,Mitsubishi,Outlander Plug In,2020,PHEV,Adrian,CITY,2393884.0,56110.0,MN,Nobles,27105,659498.0,Adrian Public Utilities,140.0,150.0,Muni,2021,2021-12-01
2,1G1FY6S01K4141683,Chevrolet,Bolt EV,2019,BEV,Framnas,TOWNSHIP,664213.0,56267.0,MN,Stevens,27149,659519.0,Agralite Cooperative,1.0,155.0,Coop,2021,2021-12-01
3,KL8CL6S06GC568453,Chevrolet,Spark,2016,BEV,Gilchrist,TOWNSHIP,664269.0,56334.0,MN,Pope,27121,659506.0,Agralite Cooperative,1.0,155.0,Coop,2021,2021-12-01
4,1G1RA6E46CU123536,Chevrolet,Volt,2012,PHEV,Scott,TOWNSHIP,665570.0,56207.0,MN,Stevens,27149,659519.0,Agralite Cooperative,1.0,155.0,Coop,2021,2021-12-01

In [54]:
# Calculate the
evreg2022_data['County_FIPS'] = evreg2022_data['County_FIPS'].astype(str).str.replace('.0', '', regex=False)         
evreg2022_data_df = evreg2022_data.dropna()
evreg2022_data_df.head()

,VIN,Make,Model,Model Year,Vehicle Type,City/Township,City/Township Type,City GNIS,Zip Code,State,County,County_FIPS,County GNIS,Utility,MN Utility ID,EIA Utility ID,Utility Type,Data Snapshot Year,DMV Snapshot Date
0,5ASAG27455F036660,GEM,NEV,2005,BEV,Adrian,CITY,2393884.0,56110.0,MN,Nobles,27105,659498.0,Adrian Public Utilities,140.0,150.0,Muni,2022,2023-01-01
1,5YJYGDEEXMF278731,Tesla,Model Y,2021,BEV,Adrian,CITY,2393884.0,56110.0,MN,Nobles,27105,659498.0,Adrian Public Utilities,140.0,150.0,Muni,2022,2023-01-01
2,1G1FY6S01K4141683,Chevrolet,Bolt EV,2019,BEV,Framnas,TOWNSHIP,664213.0,56267.0,MN,Stevens,27149,659519.0,Agralite Cooperative,1.0,155.0,Coop,2022,2023-01-01
3,KL8CL6S06GC568453,Chevrolet,Spark,2016,BEV,Gilchrist,TOWNSHIP,664269.0,56334.0,MN,Pope,27121,659506.0,Agralite Cooperative,1.0,155.0,Coop,2022,2023-01-01
4,1G1RA6E46CU123536,Chevrolet,Volt,2012,PHEV,Scott,TOWNSHIP,665570.0,56207.0,MN,Stevens,27149,659519.0,Agralite Cooperative,1.0,155.0,Coop,2022,2023-01-01

In [55]:
# Calculate the
evreg2023_data['County_FIPS'] = evreg2023_data['County_FIPS'].astype(str).str.replace('.0', '', regex=False)         
evreg2023_data_df = evreg2023_data.dropna()
evreg2023_data_df.head()

,VIN,Make,Model,Model Year,Vehicle Type,City/Township,City/Township Type,City GNIS,Zip Code,State,County,County_FIPS,County GNIS,Utility,MN Utility ID,EIA Utility ID,Utility Type,Data Snapshot Year,DMV Snapshot Date
0,5ASAG27455F036660,GEM,NEV,2005,BEV,Adrian,CITY,2393884,56110.0,MN,Nobles,27105,659498,Adrian Public Utilities,140.0,150.0,Muni,2023,2024-01-11
1,5YJYGDEEXMF278731,Tesla,Model Y,2021,BEV,Adrian,CITY,2393884,56110.0,MN,Nobles,27105,659498,Adrian Public Utilities,140.0,150.0,Muni,2023,2024-01-11
2,1G1FY6S01K4141683,Chevrolet,Bolt EV,2019,BEV,Framnas,TOWNSHIP,664213,56267.0,MN,Stevens,27149,659519,Agralite Cooperative,1.0,155.0,Coop,2023,2024-01-11
3,1G1FZ6S02L4150200,Chevrolet,Bolt EV,2020,BEV,Langhei,TOWNSHIP,664723,56381.0,MN,Pope,27121,659506,Agralite Cooperative,1.0,155.0,Coop,2023,2024-01-11
4,KL8CL6S06GC568453,Chevrolet,Spark,2016,BEV,Gilchrist,TOWNSHIP,664269,56334.0,MN,Pope,27121,659506,Agralite Cooperative,1.0,155.0,Coop,2023,2024-01-11

In [56]:
evreg2021_counts = evreg2021_data_df['County_FIPS'].value_counts()

evreg2021_counts_df = pd.DataFrame(evreg2021_counts)
evreg2021_counts_df.reset_index(inplace=True)
evreg2021_counts_df

   County_FIPS  count
0        27053   9511
1        27123   3197
2        27037   2219
3        27163   1686
4        27003   1396
..         ...    ...
81       27089      3
82       27125      3
83       27173      3
84       27029      2
85       27087      1

[86 rows x 2 columns]

In [57]:
evreg2022_counts = evreg2022_data_df['County_FIPS'].value_counts()

evreg2022_counts_df = pd.DataFrame(evreg2022_counts)
evreg2022_counts_df.reset_index(inplace=True)
evreg2022_counts_df

   County_FIPS  count
0        27053  13525
1        27123   4561
2        27037   3259
3        27163   2509
4        27003   2072
..         ...    ...
81       27011      4
82       27107      4
83       27173      4
84       27167      3
85       27089      3

[86 rows x 2 columns]

In [58]:
evreg2023_counts = evreg2023_data_df['County_FIPS'].value_counts()
evreg2023_counts_df = pd.DataFrame(evreg2023_counts)
evreg2023_counts_df.reset_index(inplace=True)
evreg2023_counts_df

   County_FIPS  count
0        27053  19552
1        27123   6708
2        27037   5117
3        27163   3700
4        27003   3003
..         ...    ...
81       27089      6
82       27087      5
83       27167      5
84       27173      5
85       27125      4

[86 rows x 2 columns]

In [59]:
evreg2021_counts_df.to_csv('MN_2021_ev_reg_by_county.csv', index=False)
evreg2022_counts_df.to_csv('MN_2022_ev_reg_by_county.csv', index=False)
evreg2023_counts_df.to_csv('MN_2023_ev_reg_by_county.csv', index=False)

In [84]:
import json
county_data_geo = pd.read_json("georef-united-states-of-america-county.geojson")
county_data_geo['features']

0     {'type': 'Feature', 'geometry': {'coordinates'...
1     {'type': 'Feature', 'geometry': {'coordinates'...
2     {'type': 'Feature', 'geometry': {'coordinates'...
3     {'type': 'Feature', 'geometry': {'coordinates'...
4     {'type': 'Feature', 'geometry': {'coordinates'...
                            ...
82    {'type': 'Feature', 'geometry': {'coordinates'...
83    {'type': 'Feature', 'geometry': {'coordinates'...
84    {'type': 'Feature', 'geometry': {'coordinates'...
85    {'type': 'Feature', 'geometry': {'coordinates'...
86    {'type': 'Feature', 'geometry': {'coordinates'...
Name: features, Length: 87, dtype: object

In [106]:
types = []
geos = []
props = []

for i in range(87):
    typ = county_data_geo['features'][i]['type']
    geo = county_data_geo['features'][i]['geometry']
    prop = county_data_geo['features'][i]['properties']
    for j in range(87):
        fips = evreg2023_counts_df['County_FIPS']
        coty_code = prop['coty_code'][0]
        if fips == coty_code:
            print(coty_code)
        # if prop['coty_code'][0] == evreg2023_counts_df['County_FIPS']:
            # prop.append('density: ' + evreg2023_counts_df['count'])
    types.append(typ)
    geos.append(geo)
    props.append(prop)


# for i in range(11):
#     counties[i]['coty_gnis_code'] = 'xxx'

print(types)
print(geos)
print(props)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().