In [ ]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
evreg2023_data_to_load = Path("Resources/2023_EV_Registration_Data.xlsx")

# Read files and store into Pandas DataFrames
evreg2023_data = pd.read_excel(evreg2023_data_to_load)
evreg2023_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50358 entries, 0 to 50357
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VIN                  50358 non-null  object
 1   Make                 50358 non-null  object
 2   Model                50358 non-null  object
 3   Model Year           50358 non-null  int64
 4   Vehicle Type         50356 non-null  object
 5   City/Township        50358 non-null  object
 6   City/Township Type   50358 non-null  object
 7   City GNIS            50358 non-null  int64
 8   Zip Code             50357 non-null  float64
 9   State                50358 non-null  object
 10  County               50358 non-null  object
 11  County_FIPS          50358 non-null  int64
 12  County GNIS          50358 non-null  int64
 13  Utility              50356 non-null  object
 14  MN Utility ID        50356 non-null  float64
 15  EIA Utility ID       50355 non-null  float64
 16  Utility Type         50356 non-null  object
 17  Data Snapshot Year   50358 non-null  int64
 18  DMV Snapshot Date    50358 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(5), object(10)
memory usage: 7.3+ MB

In [2]:
# Convert county code to string and drop trailing decimal
evreg2023_data['County_FIPS'] = evreg2023_data['County_FIPS'].astype(str).str.replace('.0', '', regex=False)      
# drop any null county codes   
evreg2023_data_df = evreg2023_data.dropna()
evreg2023_data_df.head()

,VIN,Make,Model,Model Year,Vehicle Type,City/Township,City/Township Type,City GNIS,Zip Code,State,County,County_FIPS,County GNIS,Utility,MN Utility ID,EIA Utility ID,Utility Type,Data Snapshot Year,DMV Snapshot Date
0,5ASAG27455F036660,GEM,NEV,2005,BEV,Adrian,CITY,2393884,56110.0,MN,Nobles,27105,659498,Adrian Public Utilities,140.0,150.0,Muni,2023,2024-01-11
1,5YJYGDEEXMF278731,Tesla,Model Y,2021,BEV,Adrian,CITY,2393884,56110.0,MN,Nobles,27105,659498,Adrian Public Utilities,140.0,150.0,Muni,2023,2024-01-11
2,1G1FY6S01K4141683,Chevrolet,Bolt EV,2019,BEV,Framnas,TOWNSHIP,664213,56267.0,MN,Stevens,27149,659519,Agralite Cooperative,1.0,155.0,Coop,2023,2024-01-11
3,1G1FZ6S02L4150200,Chevrolet,Bolt EV,2020,BEV,Langhei,TOWNSHIP,664723,56381.0,MN,Pope,27121,659506,Agralite Cooperative,1.0,155.0,Coop,2023,2024-01-11
4,KL8CL6S06GC568453,Chevrolet,Spark,2016,BEV,Gilchrist,TOWNSHIP,664269,56334.0,MN,Pope,27121,659506,Agralite Cooperative,1.0,155.0,Coop,2023,2024-01-11

In [21]:
# get vehicle registration counts by county code in dataframe
evreg2023_counts = evreg2023_data_df['County_FIPS'].value_counts()
evreg2023_counts_df = pd.DataFrame(evreg2023_counts)
evreg2023_counts_df.reset_index(inplace=True)
evreg2023_counts_df.tail()

   County_FIPS  count
81       27089      6
82       27087      5
83       27167      5
84       27173      5
85       27125      4

In [32]:
# write counts data to output file
evreg2023_counts_df.to_csv('Resources/MN_2023_ev_reg_by_county.csv', index=False)